backports.ssl-match-hostname==3.5.0.1  
beautifulsoup4==4.6.3
boto==2.49.0   
bs4==0.0.1
certifi==2018.8.13
chardet==3.0.4
configparser==3.5.0b2  
Cython 
decorator==3.4.0
dnspython==1.12.0   
ec2==0.4.0
firewall==0.2.0
idna==2.7  
iniparse==0.4  
ipaddress
lxml
mysql-connector-python   
pip
procfs
pygobject   
pyliblzma
pyparsing
python-linux-procfs
pytz   
pyudev 
pyxattr
pyzor
schedutils  
setuptools   
six
SQLAlchemy>=1.3.0   
urlgrabber 
urllib3>=1.24.2 
virtualenv   
virtualenv-api   
yum-metadata-parser
