backports.ssl-match-hostname  
beautifulsoup4
boto   
bs4
certifi
chardet
configparser  
Cython 
decorator
dnspython   
ec2
firewall
idna  
iniparse  
ipaddress
lxml
mysql-connector-python   
pip
procfs
pygobject   
pyliblzma
pyparsing
python-linux-procfs
pytz   
pyudev 
pyxattr
pyzor
schedutils  
setuptools   
six
SQLAlchemy>=1.3.0   
urlgrabber 
urllib3>=1.24.2 
virtualenv   
virtualenv-api   
yum-metadata-parser
